/* You can add global styles to this file, and also import other style files */

/*

	
	Comments:
	final project
	Date 4/29/2018
	Name: Jacques Favre
	Class CGS2829.0M1 Advance Web Site
	Language HTML 5, CSS 3, jquerry

	navbar from inspired from w3schools.com
	https://www.w3schools.com/bootstrap4/bootstrap_utilities.asp
	
	
	color: #dce2ea;  light blue box link menu**** darker
	color: #eff2f5;  light blue background****lighter
	color: #282828;  almost black 
	color: #400000; red almost black for site header
	
*/
/* reset selector */
* {
	margin: 0;
	padding: 0;
	}


/* the styles for the elements */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
     width: 99%; 
	max-width: 900px;
	margin: 0 auto 0 auto; 
	background-color: #eff2f5;  /* to make all light blue #dce2ea = darker  */
	z-index: 9;/* to bring menu on top*/	
	}

html {
	 /* to make sides light blue, all same color  when done    */	
	 /* to make all light blue to see width at building  */	 
	/* 	background-color: #dce2ea;  */
	 /* to make sides light blue, all same color  when done    */		
	background-color: #eff2f5;  
	
	}





#logo {
	max-width: 80%;
	margin-right: 0;
}

.navbar-brand {
	max-width: 50%;
	margin-right: 0;
}

	
	

a:hover {
    color: #0056b3;
    text-decoration: none;
}






  img {  
/* 	float: left; */
	margin: 1em 1em 1em 1em;
	border: 1px solid #282828;
	border-radius: 2em;
	max-width: 90%;
	}

/* the styles for the main section */
main {
	clear: left;
}
	/*the style for the h1 within the main always 2.5% of screen size padding on both sides, regardless os screen size*/
	main h1{
	font-size: 180%;
	padding:  1em 2.5%;
	margin: 0;
	}
	
		/*the style for the h2 to make smaller within the main */
	main h2 {
	font-size: 170%;
	
	padding: .5em 2.5%; /*top right bottom left   */
	}
	
	main h3 {
	font-size: 130%;
	padding: .5em 2.5%;
	}

	
	main p {
		font-size: 120%;
		padding:  .5em 2.5%;
	}
	/*store image sizing*/
	 main img {  
/* 	float: left; */
	margin: .9em 0 1em 0;
	border: 1px solid #282828;
	border-radius: .2em;
	max-width: 100%;   
	}

	/* style title on auth and admin pages */
	#adminT {
		font-size: 80%;
	}

/* add som padding at cart button */
#cartbtn {
margin-bottom: .4em;
}	
/* get check box under the button ordertable.component.html*/
#clearButton {
padding-top: 1em;
clear: left;
}





/****************************** END Main
										now section aside *****************/

		section {
	width: 80%; /* (525/800)*100 = 65.625% minus 5% for margins*/ 
	float: right;
	border: 0px solid #000000; 				/* black line around header*/
	border-radius: 10px;
	padding: 0 0 20px 2.5%; /* (20/800)*100 = 2.5%*/
	background-color: #eff2f5;
	margin: 1em 0 1em 0;
	z-index: 9;/* to bring menu on top*/
	}


		aside {
		width: 20%;          /* (215/800)*100 = 26.875% - 5%  for margin*/
		float: left;
		padding-left: 1.5%; /* may be dont need!!!!(20/800)*100 = 2.5%* only left OR 1, 5 to align with mobile menu icon*/
		padding-top: 4em;
		} 


	
/* contact page Style */
	/* list on contacyt page */
	main ul {
	padding: 0 0 .25em 3.5em;
	}
	
	/*main li { 
	padding-bottom: .35em;
	font-size: 120%;
	}*/
	
	main a {
		text-decoration: none;
		color: #800000;
		}

/* the styles for the google Form to make it responsive Wrapper and Wrapper iframe*/		
/* same as a youtube video, here the full width */
/* the wrapper, how the box will suround the form*/	
	.Wrapper {
		position: relative;
		padding-bottom: 130%; 
		padding-top: 25px;
		margin-bottom: 1%;
		height: 0;
	}
	
/* the styles for the iframe, position and size of form*/	
	
	.Wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
 		width: 100%;     /*Video 100% of main who is 90% of page */
		height: 100%;
	}

	/* the styles for the bearing presentatio  to make it responsive Wrapper and Wrapper iframe*/		
/* same as a youtube video, here the full width */
/* the wrapper, how the box will suround the form*/	
	.Wrapperpp {
		position: relative;
		padding-bottom: 56%; 
		padding-top: 25px;
		margin-bottom: 1%;
		height: 0;
	}
	
/* the styles for the iframe, position and size of form*/	
	
	.Wrapperpp iframe {
		position: absolute;
		top: 0;
		left: 0;
 		width: 100%;     /*Video 100% of main who is 90% of page */
		height: 100%;
	}
	
	/* the styles for the YouTube Video  to make it responsive Wrapper and Wrapper iframe*/		
/* same as a youtube video, here the full width */
/* the wrapper, how the box will suround the form*/	
	.Wrapperyt1 {
		position: relative;
		padding-bottom: 56%; 
		padding-top: 25px;
		margin-bottom: 1%;
		height: 0;
	}
	
/* the styles for the iframe, position and size of form*/	
	
	.Wrapperyt1 iframe {
		position: absolute;
		top: 0;
		left: 0;
 		width: 100%;     /*Video 100% of main who is 90% of page */
		height: 100%;
	}
	
	/* the styles for the YouTube Video  to make it responsive Wrapper and Wrapper iframe*/		
/* same as a youtube video, here the full width */
/* the wrapper, how the box will suround the form*/	
	.Wrapperyt2 {
		position: relative;
		padding-bottom: 56%; 
		padding-top: 25px;
		margin-bottom: 1%;
		height: 0;
	}
	
/* the styles for the iframe, position and size of form*/	
	
	.Wrapperyt2 iframe {
		position: absolute;
		top: 0;
		left: 0;
 		width: 100%;     /*Video 100% of main who is 90% of page */
		height: 100%;
	}
	
	/* 	style for term and privacy page ol li ol*******************************************/
	main ol {
		padding: 0 0 .25em 2.5em;
		font-size: 120%;
	}
	
	main ol li {
		font-size: 100%;
	}
	
main ol li ol {
		font-size: 100%;
	}

	main ul ul li { padding-top: .35em;} 
		
	
/* the style for text in the footer*************************************************/
footer p {
	text-align: center;
	color: #282828; 
	padding: 1em 0;
	}
/* style color for link text footer	 */
	footer p a {
	/*color: #282828;*/
color: #007bff;
 	text-decoration: initial;
}
footer {


	background-color: #eff2f5;  /* to make sides almost black */
	margin-top: 1em;
	margin-bottom : 5px;
	clear: right;
	/*clear: left; */    /* footer on edit/admin */
}
/*********************************************************************************************/
/* Media Query for tablet view**********RESPONSIVE**********************************/
/* no Mobile menu, desktop view, switces below*/
/* Media Query for tablet view**********RESPONSIVE**********************************/
/* no Mobile menu, desktop view, switces below*/


/* tablet portrait to standard 960  no change here*/
@media only screen and (max-width: 959px) {

	/* Google form wrapper incraased hight to prevent double scolling of form inside page */
	.Wrapper {
		padding-bottom: 160%; 
			}	

/*.navbar-toggler-icon { float: right; }*/

}  


/* mobile landscape to tablet portrait SWITCH MENU**************************************/
@media only screen and (max-width: 769px) {



#logo {
	max-width: 75%;
}

.navbar-brand {
	max-width: 75%;
	margin-right: 0;
}

/*.navbar-toggler { float: right; }*/

			section {
	width: 75%; /* (525/800)*100 = 65.625% minus 5% for margins*/ 
	float: right;
	border: 0px solid #000000; 				/* black line around header*/
	border-radius: 10px;
	padding: 0 0 20px 2.5%; /* (20/800)*100 = 2.5%*/
	background-color: #eff2f5;
	margin: 1em 0 1em 0;
	z-index: 9;/* to bring menu on top*/
	}


		aside {
		width: 25%;          /* (215/800)*100 = 26.875% - 5%  for margin*/
		float: left;
		padding-left: 1.5%; /* may be dont need!!!!(20/800)*100 = 2.5%* only left OR 1, 5 to align with mobile menu icon*/
		padding-top: 4em;
		} 
	
	/*reduce size header 300% to 250% */
	/*stop float to center, remove top padding*/
	header h2  {
	font-size: 230%;
	float: none;
	text-align: center;
	padding: 0 0 0 .4em;
	}	
	
	/* make link email me bigger on small  touch screen  and blue to show link when using touch screen*/	
	main p a { 
	font-size: 150%; 
	color: blue;
	} 
	
	/* Google form wrapper incraased hight to prevent double scolling of form inside page */
	.Wrapper {
		padding-bottom: 270%; 
			}	
	

}

/* mobile portrait to mobile landscape */
@media only screen and (max-width: 415px) {
	body { font-size: 90%; }
	/* Make link "email me" bigger on phone size screen to make easier to click*/
	main  p a { 
	font-size: 120%; 
	} 	
/* 	adjust title to fit in one line */
		main h1{
		font-size: 160%;
	}
header h2  {
	font-size: 160%;
}
main h1 {
	font-size: 140%;
}
/*#logo {
	max-width: 40%;
}*/
.navbar-brand {
	max-width: 75%;
	margin-right: 0;
}

	/* Google form wrapper incraased hight to prevent double scolling of form inside page*/
	.Wrapper {
		padding-bottom: 325%; 
			}	 

	/* get aside, buttons at top of page*/
	aside {
		float: none;
		width: 100%;
	}

	section {
		width: 100%;
	}



	footer p {
		font-size: 80%;
	}

} 	


