<nav class="navbar navbar-expand-md bg-light navbar-light">
  <a class="navbar-brand" href="/">
  <img id="logo" src="assets/images/ppslogo.png" alt="logo" >  
  </a>


  
  <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <li class="nav-item">
        </li>
        <li class="nav-item">
            <button class="btn btn-link text-dark" routerLink="/home"> Home </button>
        </li>
        <li class="nav-item">
            <button class="btn btn-link text-dark" routerLink="/store"> Store </button>
        </li>
         <li class="nav-item">
         <div class="btn-group">
            <button class="btn btn-link text-dark dropdown-toggle" data-toggle="dropdown">
                Projects
            </button>
                <div class="dropdown-menu">
                    <button class="btn btn-link text-dark" routerLink="/clock"> Clock </button>
                    <button class="btn btn-link text-dark" routerLink="/bearing"> Bearing </button>
                </div>
        </div>
        </li>
        <li class="nav-item">
            <button class="btn btn-link text-dark" routerLink="/contact"> Contact </button>
        </li>
            
    </ul>
  </div>  
</nav>


    <main>

              <h1>Ball Bearings</h1>
    
            <br>    
              <img src="assets/images/bearings3.jpg" alt="Bearings Samples"> 


        <p>The focus here is to build a product that contains multiple moving parts all at once.</p>
              
              <p> 3 Examples here, the bigger one has a diameter of 100mm, the smaler is 22mm.<br>
              With the raft and suport they got printed on, all in PLA.</p>
        
      
  
    <h3>Tips and tricks</h3>
    
    <p>Here I will go in more details about a 608 size bearing. It has an outer diameter of 22 mm, inner diameter is 8 mm. </p><br>
    
    <img src="assets/images/smallB.jpg" alt="Bearings Samples">   
    
    <h3>Bearing Presentation</h3>
    
    <p>Desinged with Fusion 360. Sliced with Cura, with custom setting for the suport.</p><br>
    
    <div class="Wrapperpp">
            <iframe src='https://onedrive.live.com/embed?cid=4F54657EC8F87B7D&resid=4F54657EC8F87B7D%2114657&authkey=AMlND_OjeLXBzS8&em=2&wdAr=1.7777777777777777' width='962px' height='565px' frameborder='0'>This is an embedded <a target='_blank' href='https://office.com'>Microsoft Office</a> presentation, powered by <a target='_blank' href='https://office.com/webapps'>Office Online</a>.</iframe>   
    </div>


      
   
  


    </main>

    <footer>
<p><button class="btn btn-link btn-sm" routerLink="/terms">Terms and Privacy</button>

        &nbsp;&nbsp;&copy; 2018 Jacques Favre ajfavre.com

<button class="btn btn-link btn-sm text-danger" routerLink="/admin">Admin</button></p> 
    </footer>
