<!-- <div class="navbar navbar-inverse bg-info">  
    <a class="navbar-brand">PRINT PART SHOP Admin</a>  
</div> -->

<div>
<!-- <h3 id="adminT">PRINT PART SHOP Admin</h3> -->

<h5 class="text-xs-center">PRINT PART SHOP Admin</h5>

</div>




<div class="m-t-1">

    <aside>
    <!-- <div class="col-xs-3"> -->
        <button class="btn btn-outline-primary btn-block" 
                routerLink="/admin/main/products"
                routerLinkActive="active">
            Products
        </button>
        <button class="btn btn-outline-primary btn-block"
                routerLink="/admin/main/orders"
                routerLinkActive="active">
            Orders
        </button>
        <button class="btn btn-outline-danger btn-block" (click)="logout()">
            Logout
        </button>
    <!-- </div> -->
    </aside>
    <!-- <div class="col-xs-9"> -->

     <div>   
        <router-outlet></router-outlet>
    </div>
</div>
